# Crichton, Admirable Source Configuration Management
# Copyright 2012 British Broadcasting Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#
DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('FM&T DDO Livesite', 'fmtforgeadmins@domain.local'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'crichton',                      # Or path to database file if using sqlite3.
        'USER': 'crichton',                      # Not used with sqlite3.
        'PASSWORD': 'ronnocnhoj',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

#CACHE_BACKEND = 'dummy://'
CACHE_BACKEND = "locmem://"

SSL_CERT_FILE = '/etc/crichton.dev.domain.com.pem'
SSL_KEY_FILE = '/etc/crichton.dev.domain.com.key'
CA_CERT_FILE = '/etc/ca.pem'

# Jira passwords are normally random 32 character strings. The password below only works
# on the jira-test instance.
JIRA_USER = 'davidvz@gmail.com'
JIRA_PASS = 'cake'
JIRA_SOAP_ROOT = 'https://jira-test.dev.domain.com:443/rpc/soap/jirasoapservice-v2?wsdl'
